@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



<h3>Icons Example</h3>

<!-- Example of a house icon -->
<i class="bi bi-house"></i> Home

<!-- Example of an info-circle icon -->
<i class="bi bi-info-circle"></i> About

<!-- Example of an envelope icon -->
<i class="bi bi-envelope"></i> Contact

